.information {
  padding-top: 40px;
  padding-bottom: 40px;
  .information-content {
    background-image: url(../../assets/image9.png);
    box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.16);
    background-size: cover;
    object-fit: cover;
    min-height: 376px;
    .p1 {
      padding-top: 24px;
      color: #2c2d2e;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px; /* 125% */
      .sp1 {
        color: #ef7c00;
      }
    }
    .p2 {
      padding-bottom: 36px;
      color: #2c2d2e;
      padding-top: 16px;
      max-width: 400px;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 133.333% */
    }
    form {
      .fielsTwo {
        display: flex;
        align-items: center;
        column-gap: 12px;
        .filed1 {
          padding-bottom: 12px;
          display: flex;
          align-items: center;
          .input1 {
            color: var(--text-color-text-secondary, #919399);
            padding: 9px 12px;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 133.333% */
            border-radius: 0px 4px 4px 0px;
            border: 1px solid var(--borders-color-border, rgba(0, 16, 61, 0.12));
            background: var(--main-color-bg, #fff);
          }
        }
      }
      .note {
        display: block;
        border-radius: 4px;
        border: 1px solid var(--borders-color-border, rgba(0, 16, 61, 0.12));
        background: var(--main-color-bg, #fff);
        resize: none;
        width: 510px;
        height: 80px;
        color: var(--text-color-text-secondary, #919399);
        padding: 10px 12px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 133.333% */
      }
      .btn4 {
        margin-top: 12px;
        border-radius: 4px;
        background: #ef7c00;
        color: var(--text-color-text-contrast, #fff);
        text-align: center;
        padding: 10px 20px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 133.333% */
      }
    }
  }
}
@media (max-width: 550px) {
  .fielsTwo {
    flex-direction: column;
  }
  .note {
    width: 90% !important;
  }
}
